[Desktop Entry]
Encoding=UTF-8
Version=0.1
Name=PhoneLog
Type=Application
Comment=Show Phone Log
Terminal=true
Path=
Icon=/usr/share/icons/openmoko-standard/48x48/stock/moko-history.png
Categories=System;Application;
GenericName=PhoneLog
Categories=Office;
Exec=python /usr/bin/phonelog
