[Desktop Entry]
Encoding=UTF-8
Version=0.15.2
Name=PhoneLog
Type=Application
Comment=Show Phone Log
Terminal=true
Path=
Icon=phonelog.png
Categories=System;Application;
GenericName=PhoneLog
Categories=Office;
Exec=python /usr/bin/phonelog
