[Desktop Entry]
Encoding=UTF-8
Version=0.15.2
Name=PhoneLog
Name[es]=Registro de llamadas
Name[gl]=Rexistro de chamadas
Comment[eo]=TelefonRegistro
Comment[it]=PhoneLog
Type=Application
Comment=Show Phone Log
Comment[es]=Mostrar el registro de llamadas
Comment[gl]=Amosar o rexistro de chamadas
Comment[eo]=Montri registron de telefonvokoj
Comment[it]=Mostra il registro delle chiamate
Terminal=true
Path=
Icon=phonelog.png
Categories=System;Application;
GenericName=PhoneLog
Categories=Office;
Exec=python /usr/bin/phonelog
